.row
  .col-xs-12.col-sm-10
    .box
      .big-padding.white.mdl-shadow--2dp.black-text
        %p
          %b Nombre:
          = @participant.nombre
        %p
          %b Ocupacion:
          = @participant.ocupacion
        %p
          %b Interes:
          = @participant.interes
        %p
          %b Correo:
          = @participant.correo
        %p
          %b Telefono:
          = @participant.telefono       
