%p#notice= notice

%p
  %b Nombre:
  = @participant.nombre
%p
  %b Ocupacion:
  = @participant.ocupacion
%p
  %b Interes:
  = @participant.interes
%p
  %b Correo:
  = @participant.correo
%p
  %b Telefono:
  = @participant.telefono

= link_to 'Edit', edit_participant_path(@participant)
\|
= link_to 'Back', participants_path
